<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Message</title>
    <th:block th:include="general.html :: head"></th:block>
</head>
<body>
    <div class="container">
        <h1>New Message</h1>
        <form action="#" th:action="@{/messages}" th:object="${message}" method="post">
            <table>
                <tr>
                    <td>
                        <input type="text" class="form-control" id="text" th:field="*{text}">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </td>
                </tr>
            </table>
        </form>
        <br/>
        <a href="#" th:href="@{/}" role="button"><< Back</a>
    </div>
</body>
</html>